.banner {
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

.banner-text {
  margin-left: 50px;
  color: var(--primary-white-color);
  max-width: 40%;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
}

.banner-text h1 {
  font-size: 2.5rem;
  margin: 0;
}

.banner-text p {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .banner {
    height: 250px;
    justify-content: center;
  }

  .banner-text {
    margin-left: 20px;
    max-width: 80%;
    text-align: center;
  }

  .banner-text h1 {
    font-size: 1.8rem;
  }

  .banner-text p {
    font-size: 1rem;
  }
}
