.google-reviews {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
  }
  
  .google-reviews .elfsight-app-e7e9f2ee-23d4-4ad8-8e7b-08da984ba701 {
    width: 100%;
    height: 100%;
    min-height: 400px;
  }

  .google-reviews-fallback {
    text-align: center;
    font-style: italic;
    text-align: left;
    color: var(--tercery-grey-color);
  }