.footer {
  background-color: var(--primary-white-color);
  padding: 20px;
  border-top: 1px solid var(--sixth-grey-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-left-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  margin-bottom: 0px;
  cursor: pointer;
  max-height: 150px;
}

.domain-and-legal,
.address-and-phone {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.social-icon {
  width: 48px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

.footer-left-2 {
  text-align: left;
}

.footer-left-2 h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--fourth-grey-color);
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-link {
  text-decoration: none;
  color: var(--logo-color);
  font-size: 16px;
  font-weight: 600;
}

.footer-link:hover {
  color: var(--fourth-grey-color);
  cursor: pointer;
}

.footer-map {
  flex: 1;
  max-width: 400px;
  min-width: 300px;
  text-align: center;  
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-map iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: none;
}

.footer-address,
.footer-domain {
  color: var(--fourth-grey-color);
  font-size: 16px;
}

.a-footer {
  text-decoration: none;
  color: var(--fourth-grey-color);
  font-size: 16px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.a-footer:hover {
  color: var(--logo-color);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .footer-left {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-left-2 {
    align-items: center;
    text-align: center;
  }

  .footer-menu {
    align-items: center;
  }

  .footer-map {
    max-width: 100%;
    margin-top: 20px;
  }
}
